In [2]:
for i in range(1,11):
  if i == 7:
    print(f"Found it! It's {i}")
    break
  print(i)

1
2
3
4
5
6
Found it! It's 7

In [3]:
for i in range(1,11):
  if i % 2 == 0:
    continue
  print(f"Hey! It's {i}, I am odd ðŸ‘»")

Hey! It's 1, I am odd ðŸ‘»
Hey! It's 3, I am odd ðŸ‘»
Hey! It's 5, I am odd ðŸ‘»
Hey! It's 7, I am odd ðŸ‘»
Hey! It's 9, I am odd ðŸ‘»

In [12]:
users = ['Danish', 'admin', 'Syed']
for username in users:
  if username == 'admin':
    pass
  else:
    print(f"Hey! It's {username}, Welcome to the system!")
else:
  print("All users have been processed!")

Hey! It's Danish, Welcome to the system!
Hey! It's Syed, Welcome to the system!
All users have been processed!

In [6]:
while username != 'quit':
  username = input('Enter username')
  if username == 'admin':
    pass
  else:
    print(f"Hey! It's {username}, Welcome to the system!")
else:
  print("It's time to quit the program!")

Hey! It's Danish, Welcome to the system!
Hey! It's quit, Welcome to the system!
It's time to quit the program!

In [11]:
filt = int(input("Enter 1 if you like to print even numbers, else enter 0: "))
for num in range(1,8):
  if filt:
    if num % 2 == 0:
      print(f"Even number: {num}")
  else:
    if num % 2 != 0:
      print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7

In [9]:
arr_1 = []
arr_2 = [1,2,3]

arr_1 = arr_2 # a and b points to same list object
print(arr_1,arr_2)

arr_1 = arr_2[:] # a and b points to different list objects with same content
print(arr_1,arr_2)

[1, 2, 3] [1, 2, 3]
[1, 2, 3] [1, 2, 3]

In [12]:
server = ['server1', 'server2', 'server3']

server.append('server4') # add at the end of the list
server.insert(1, 'server1.5') # insert at a position in this case at index 1

print(server)

server.remove('server1.5') # remove an element from the list
print(server)
server.pop() # remove the last element from the list
print(server)

['server1', 'server1.5', 'server2', 'server3', 'server4']
['server1', 'server2', 'server3', 'server4']
['server1', 'server2', 'server3']

In [13]:
empty_list = []
print(empty_list)

# list from a range
list_from_range = list(range(1,11))
print(list_from_range)

[]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# List comprehension
squared_list = [num**2 for num in range(0,10)]
print(squared_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Copy lists
copy_list = squared_list.copy() # safe copy using slicing
print(copy_list)

squared_list.append(100)

print(squared_list)
print(copy_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
print(squared_list)
print(copy_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Copy lists
copy_list = squared_list[:] # shallow copy using slicing
print(copy_list)

squared_list.append(100)

print(squared_list)
print(copy_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
copy_list.sort(reverse=True)
print(copy_list)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [ ]:
# Tuple
# Ordered, immutable, allows duplicates
my_tuple = (1,2,3,4,5)
print(my_tuple)
single_item_tuple = (1,) # to create a single item tuple, comma is necessary
print(single_item_tuple)my_tuple[0] = 10 # this will throw an error since tuples are immutable

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [32]:
single_item_tuple = (1) # this is not tuple, it's an integer
print(type(single_item_tuple))

single_item_tuple = (1,) # to create a single item tuple, comma is necessary
print(type(single_item_tuple))

print(single_item_tuple)

print(len(single_item_tuple))

<class 'int'>
<class 'tuple'>
(1,)
1

In [36]:
t1 = (1,2,3)
t2 = (4,5,6)
print(t1 + t2)  # concatenation
print(t1 * 3)   # repetition

print(3 in t2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
False

In [37]:
# in works for list, tuple, string, set, dictionary (checks in keys) etc.

print(3 in [1,2,3,4,5])
print(4 in (1,2,3))
print('a' in 'apple')
print('a' in {'a':1, 'b':2})

True
False
True
True

In [38]:
# Tuple Packing
user_data = 'Danish', 25, 'University of Maryland' # this is tuple packing
print(user_data)

# Tuple Unpacking
name, age, university = user_data
print(name)
print(age)
print(university)

('Danish', 25, 'University of Maryland')
Danish
25
University of Maryland

In [40]:
# Sets Basics

# Unordered collection of unique elements
numbers_set = {1, 2, 3, 4, 5}
print(type(numbers_set))

numbers_set_with_duplicates = {1, 2, 3, 4, 5, 5, 4, 3, 2, 1}
print(numbers_set_with_duplicates)

<class 'set'>
{1, 2, 3, 4, 5}

In [47]:
letters_set = set('hello')
print(letters_set)

{'e', 'o', 'l', 'h'}

In [52]:
dict = {'a':1, 'b':2, 'c':3}
for i, j in enumerate(dict):
  print(f"Key: {i}, {j}, Value: {dict[j]}")

Key: 0, a, Value: 1
Key: 1, b, Value: 2
Key: 2, c, Value: 3

In [53]:
# Nested Comprehension
pairs = [(x,y) for x in range(1,4) for y in range(1,4)]
print(pairs)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [56]:
names = ['Danish', 'Syed', 'Admin']
scores = [95, 85, 75]
for name, score in zip(names, scores):
  print(f"{name} scored {score}")

Danish scored 95
Syed scored 85
Admin scored 75

In [57]:
names = ['Danish', 'Syed', 'Admin']
scores = [95, 75]
for name, score in zip(names, scores):
  print(f"{name} scored {score}")

Danish scored 95
Syed scored 75

In [59]:
names = ['Danish', 'Syed']
scores = [95, 85, 5]
for name, score in zip(names, scores):
  print(f"{name} scored {score}")

Danish scored 95
Syed scored 85

In [64]:
nums = [22,1, 2, 3, 4, 5, 90]
print(sorted(nums, key= lambda x: x % 2))

[22, 2, 4, 90, 1, 3, 5]